.Header {
  padding: 1rem 0rem;
  background-color: #20364d;
}
.header-content {
  width: 95%;
  margin: auto;
}
.Header nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.Header nav > * {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(25, 25, 25);
  color: #fff;
}
.Header nav > * + * {
  margin-left: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
